* 
{
    font-size: large;
}

table
{
    margin: auto;
    position: relative;
    top: 25px;
}

header
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

nav
{
  background-color: black;
  width: 100%;
}

section#MainContent
{

  float: left;
  border-style: solid;
  border-width: 3px;
}


footer
{
  background-color: lightgreen;
  width: 100%;
  text-align: center;
  font:small;
  clear: both;
}
